
<li class="nav-item dropdown">
    <a class="nav-link position-relative dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Thông báo">
        <!-- Biểu tượng chuông lớn hơn -->
        <i class="bi bi-bell-fill" style="font-size: 1.5rem;"></i>

        <!-- Badge thông báo hình tròn nhỏ hơn -->
        <span class="position-absolute top-30 start-70 translate-middle badge rounded-pill bg-danger" style="font-size: 0.7rem;">
            3
            <span class="visually-hidden">thông báo chưa đọc</span>
        </span>
    </a>

    <!-- Dropdown content -->
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
        <li><a class="dropdown-item" href="#">Thông báo 1</a></li>
        <li><a class="dropdown-item" href="#">Thông báo 2</a></li>
        <li><a class="dropdown-item" href="#">Thông báo 3</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Xem tất cả thông báo</a></li>
    </ul>
</li>