.app-navbar {
    background: rgba(0,0,0,0.8);

    .text-dark {
        color: black !important;

        &:hover {
            color: black !important;
        }
    }

    .navbar-brand {
        color: red !important;
    }

    .dropdown-toggle {
        border-color: transparent !important;

        &.hover {
            color: white;
        }
    }
}

.categorysidebar {
    ul, li {
        list-style: none;
        padding-left: 10px;
    }
    >ul>li>a {
        font-weight: bold;
    }
    h3 {
        text-transform: uppercase;
        font-size: 1.3em;
        border-bottom: 1px solid blue;
        padding-bottom: 10px;
    }
}